@use '../common/mixins' as m;
@use '../common/palette' as c;
@use '../common/functions' as fn;

section.smallContainer {
	@include m.marginTB(4rem);

	> p > img.alignleft {
		border-radius: 50%;
		float: left;
		shape-outside: circle();
		margin-right: fn.szFact(5rem);
	}
}

.archive_section {
	@include m.marginTB(4rem);

	.container {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: center;
	}

	&.archive_student {
		justify-content: stretch;
	}
}
