@use '../common/fonts' as f;
@use '../common/palette' as c;
@use '../common/mixins' as m;
@use '../common/functions' as fn;
@use '../common/mediaQueries' as mq;

.card-student {
	flex-grow: 1;

	// &:not(:last-of-type) {
	@include m.marginLR(2rem);

	// 	@include mq.mq('sm') {
	// 		margin-right: 1.6rem;
	// 	}
	// }

	margin-bottom: fn.szFact(4rem, true);

	a {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;

		img {
			@include m.square(fn.szFact(22rem));
			border-radius: 50%;
			object-fit: cover;
		}

		h2 {
			margin-top: fn.szFact(2rem);
			margin-bottom: fn.szFact(1.5rem);
			@include f.font__primary('semiBold', h2);
		}

		.link__text {
			color: c.$text-third;
			text-decoration: underline;
			@include f.font__primary('regular', sm);
			@include m.padDual(0.5rem, 1rem);

			@include m.animateBorders('draw', 0.1rem, transparent, c.$text-third, c.$text-third, 0);
		}
	}
}
