@use '../common/fonts' as f;
@use '../common/palette' as c;
@use '../common/mixins' as m;
@use '../common/functions' as fn;
@use '../common/variables' as v;
@use '../common/mediaQueries' as mq;

.card {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;

	width: calc(32rem - #{v.$containerLeftRightPadding} * 2);

	@include mq.mq('md') {
		width: calc(60rem);
	}

	&.news {
		width: calc(32rem - #{v.$containerLeftRightPadding} * 2);

		@include mq.mq('md') {
			width: 39rem;
		}
	}

	margin-bottom: 1.6rem;
	margin-left: 1.6rem;

	box-shadow: 0 0 fn.szFact(4.8rem) c.$boxShadow;

	img {
		height: 26rem;
		width: 100%;
		object-fit: cover;
	}

	h2 {
		@include m.marginTB(4rem);

		section[class*='news'] & {
			@include m.marginTB(1.6rem);
		}

		text-align: left;
	}

	.card__content {
		padding: fn.szFact(1.6rem, true) fn.szFact(4rem, true);

		@include f.font__primary('regular', p);

		.excerpt {
			// overflow: hidden;
			// text-overflow: ellipsis;
			// -webkit-line-clamp: 5;
		}
	}

	.more {
		margin-top: auto;
		width: 100%;
		@include m.absCoveringParent();
	}
}
