@use '../common/fonts' as f;
@use '../common/palette' as c;
@use '../common/vclasses';
@use '../common/mixins' as m;
@use '../common/functions' as fn;
@use '../common/mediaQueries' as mq;

.mainContent.nous-contacter {
	.contactForm {
		margin: 0 auto;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		input,
		textarea {
			max-width: 100%;
			@extend %noOutlines;
			border: none;
			border-bottom: 1px solid c.$border-primary;

			&::placeholder {
				@include f.font__primary('regular', p, 'italic');
				color: c.$text-primary-transparent;
			}
		}

		> label {
			display: flex;
			flex-flow: column nowrap;

			margin-bottom: fn.szFact(5rem);
		}
		> .name,
		> .email {
			width: 100%;
			@include mq.mq('sm') {
				width: 49%;
			}
		}

		> .message {
			width: 100%;

			textarea {
				width: 100%;
				resize: none;
			}
		}

		.submitButton {
			margin-left: auto;
			@include m.padDual(1rem, 2rem);
			border-radius: 0.4rem;

			cursor: pointer;

			.ajax-loader:not(.is-active) {
				max-width: 0;
			}

			> input {
				cursor: pointer;
				color: c.$text-secondary;
				background-color: transparent;
				border: none;
				padding: 0;
			}
		}

		.wpcf7-response-output {
			width: 100%;
			text-align: center;
			border-color: c.$background-secondary;
			border-radius: 0.4rem;
		}
	}
}
