@use '../common/mixins' as m;
@use '../common/palette' as c;
@use '../common/fonts' as f;
@use '../common/mediaQueries' as mq;
@use '../common/functions' as fn;

.pil__footer {
	width: 100%;
	@include m.baseColors('secondary');
	@include m.padDual(4rem, 1rem);

	height: var(--footer__height);

	> .container {
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;

		height: 100%;

		a {
			display: block;
		}

		.footer__details {
			text-align: center;

			@include mq.mq('sm') {
				text-align: left;
			}

			> p {
				@include f.font__primary('medium', p);
				&:first-of-type {
					@include f.font__primary('semiBold', p);
				}
			}

			> a {
				@include f.font__primary('medium', p);
				@include m.hover-underline-animation-ltr(c.$text-secondary);
			}
		}

		.footer__legal {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;

			@include f.font__primary('medium', sm);

			li:not(:last-of-type) {
				margin-right: 0.5rem;
			}

			a {
				padding: 0.5rem 1rem;
				@include m.baseColors('secondary', true);
			}
		}

		.footer__social {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			> li {
				padding: 1.2rem;

				&:not(:last-of-type) {
					margin-right: fn.szFact(4rem, true);
				}

				@include m.animateBorders(
					'circle',
					0.2rem,
					transparent,
					c.$text-secondary,
					c.$text-secondary,
					0
				);

				> a {
					display: flex;
					align-items: center;
					justify-content: center;

					height: 3.1rem;
					width: 3.1rem;

					color: c.$text-secondary;
					font-size: 3.1rem;
					line-height: 1;

					z-index: 1;
				}
			}
		}
	}
}
