@use '../common/fonts' as f;
@use '../common/palette' as c;
@use '../common/vclasses';
@use '../common/mixins' as m;
@use '../common/mediaQueries' as mq;

.primary-nav--container {
	position: sticky;
	top: 0;
	z-index: 9999;

	width: 100%;
	height: var(--header__nav__height);
	@include m.padDual(2.2rem, 0.5rem);
	@include m.baseColors('secondary');
	text-transform: uppercase;

	.primary-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		height: 100%;

		> .logo--text {
			margin-right: auto;

			@include f.font__secondary('bold', h1);
		}

		> .burgerButton {
			@include m.burger(3, c.$text-secondary, c.$text-secondary, 1);
			@extend %noOutlines;

			&:focus::before {
				$pos: -0.4rem;
				content: '';
				position: absolute;
				top: $pos - 0.2rem;
				bottom: $pos;
				left: $pos + 0.1rem;
				right: $pos;
				border: 1px solid c.$text-secondary;
			}

			@include mq.mq('xl') {
				display: none;
			}
		}

		> .primary-menu {
			display: none;

			&.shown {
				position: fixed;
				top: var(--header__nav__height);
				left: 0;
				right: 0;

				display: flex;
				flex-flow: column nowrap;

				@for $i from 0 to 5 {
					> li:nth-of-type(#{$i + 1}) {
						transform: translateX(-100vw);
						animation-name: elAppear;
						animation-duration: 0.3s;
						animation-timing-function: ease-in-out;
						animation-iteration-count: 1;
						animation-delay: $i * 0.25s;
						animation-fill-mode: forwards;
					}
				}
			}

			@include mq.mq('xl') {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: space-around;

				&.shown {
					position: relative;
					flex-flow: row nowrap;
					top: auto;
					left: auto;
					right: auto;
				}
			}

			@include f.font__primary('semiBold', p);

			> li {
				> a {
					display: block;
					@include m.padDual(1rem, 2rem);

					@include m.baseColors('secondary', true);
				}
				&.current-menu-item > a {
					background-color: c.$background-primary;
					color: c.$text-hover;
				}

				body[class*='student'] &[class*='student'],
				body[class*='module'] &[class*='module'],
				body[class*='news'] &[class*='news'] {
					> a {
						background-color: c.$background-primary;
						color: c.$text-hover;
					}
				}
			}
		}
	}
}
