@use '../common/mixins' as m;
@use '../common/fonts' as f;
@use '../common/palette' as c;
@use '../common/vclasses' as vc;
@use '../common/functions' as fn;

body.single-news {
	article {
		@extend %fillAvailableSpaceCol;
		@include m.baseColors();

		@include m.padTB(4rem);
		@extend %centerFlexCol;
		@include m.baseColors('primary');
		@include f.font__secondary('semiBold', p);

		img {
			max-height: fn.szFact(54.1rem, true);
			object-fit: cover;
		}

		.calendarIcon {
			margin-top: 0;
			margin-bottom: 4rem;
		}

		.single__content {
			text-align: left;
			@include f.font__primary('regular', p);

			h2 {
				@include f.font__primary('semiBold', h2);
				@include m.marginTB(1.6rem);
			}

			h3 {
				@include f.font__primary('medium', h3);
				@include m.marginTB(1.6rem);
			}

			img {
				margin: 1.6rem auto;
			}
		}
	}
}
